<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seaborn</title>
</head>
<body>
<div>
  <link href="../static/home.css" rel="stylesheet" />
  <div class="home-container">
    <h1 class="home-text">Seaborn Data Visualization Examples</h1>
    <div class="home-container1">
      <div class="home-container2">
        <a href="http://127.0.0.1:8000/seaborn/scatterplot" class="home-link">
          Scatter Plot
        </a>
        <a
          href="http://127.0.0.1:8000/seaborn/catplot"
          target="_blank"
          rel="noreferrer noopener"
          class="home-link1"
        >
          Cat Plot
        </a>
        <a
          href="http://127.0.0.1:8000/seaborn/lmplot"
          target="_blank"
          rel="noreferrer noopener"
          class="home-link2"
        >
          Lm Plot
        </a>
        <a
          href="http://127.0.0.1:8000/seaborn/clustermap"
          target="_blank"
          rel="noreferrer noopener"
          class="home-link3"
        >
            Cluster Map
        </a>
      </div>
    </div>
  </div>
</div>
</body>
</html>